.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.display-container {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.display {
    box-sizing: border-box;
    border: solid;
    border-width: 1px;
    width: 154px;
    display: flex;
    justify-content: end;
    align-items: flex-end;
    padding: 0 4px;
}

.display-buttons {
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 50px;
}

.keypad-container {
    display: flex;
    gap: 5px;
}

.keypad-numbers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: center;
    width: 154px;
    gap: 2px;
}

.keypad-operators {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.keypad-container button {
    width: 50px;
    height: 50px;
}

.keypad-container .keypad-operators button{
    background-color: rgb(171, 210, 161);
}